# Example terraform.tfvars file
# Copy this file to terraform.tfvars and fill in your actual values

project_name         = "fencoder2"
aws_region           = "<your-aws-region>"
aws_profile          = "<your-aws-profile>"
docker_image_url     = "<your-docker-image-url>"
s3_bucket_name       = "<your-s3-bucket-name>"
lambda_function_name = "<your-lambda-function-name>"
allowed_account_id   = "0123456789"
vpc_id               = "vpc-0123abcde"
batch_subnet_ids     = ["subnet-abc123", "subnet-def456"]